electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
better-sqlite3_binary=false
runtime=electron
target=31.7.7
target_arch=x64
disturl=https://electronjs.org/headers
build_from_source=true
